<app-loader [isLoading$]='isLoading$'></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-5 mx-auto mt-3 p-5 border bg-white border-dark text-dark rounded">
            <form [formGroup]="resetPasswordFG">
                <h3>Reset Your Password</h3>
                <hr>
                <br>
                <div class="form-group">
                    <div class="row details justify-content-between">
                        <div class="form-group col-12">
                            <label for="inputPassword"> New Password
                                <span *ngIf="(password.touched || password.dirty) && password.invalid"
                                    class="text-danger ml-3">
                                    <span *ngIf='password.errors.required'><i><small>*This field is
                                                required</small></i></span>
                                </span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input formControlName="password" type="{{isVisible1$ ? 'text' : 'password'}}"
                                    class="form-control" id="inputPassword" placeholder="Password">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': isVisible1$, 'fa-eye': !isVisible1$ }"
                                            (click)="toggleVisibility(1)" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <p><small class="text-secondary">Must have at least 8 characters</small></p>
                            <p><small class="text-secondary">Must have at least one Capital letter</small></p>
                            <p><small class="text-secondary">Must have at least one symbol (e.g @%&*)</small></p>
                        </div>
                        <div class="form-group col-12">
                            <label for=" inputPassword2">Confirm New Password
                                <span
                                    *ngIf="(confirmPassword.touched || confirmPassword.dirty) && confirmPassword.invalid"
                                    class="text-danger ml-3">
                                    <span *ngIf='confirmPassword.errors.required'><i><small>*This field is
                                                required</small></i></span>
                                    <span
                                        *ngIf='resetPasswordFG.errors?.passwordMatchError !== null'><i><small>{{resetPasswordFG.errors.passwordMatchError}}</small></i></span>
                                </span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input formControlName="confirmPassword" type="{{isVisible2$ ? 'text' : 'password'}}"class="form-control"
                                    id="inputPassword2" placeholder="Confirm Password">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': isVisible2$, 'fa-eye': !isVisible2$ }"
                                            (click)="toggleVisibility(2)" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf='resetPasswordFG.errors?.passwordMatchError !== null' class="alert alert-danger"
                                role="alert">
                                {{resetPasswordFG.errors.passwordMatchError}}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary col-12 mb-3"
                    (click)='submit(resetPasswordFG.value)' [disabled]='isInValid(resetPasswordFG)'>Submit</button>
                <button type="button" class="btn btn-outline-secondary col-12" (click)='cancel()'>Cancel</button>
            </form>
        </div>
        <button
          type="button"
          class="btn btn-outline-primary col-12 mb-3"
          (click)='submit(resetPasswordFG.value)'
          [disabled]='isInValid(resetPasswordFG)'
        >Submit</button>
        <button
          type="button"
          class="btn btn-outline-secondary col-12"
          (click)='cancel()'
        >Cancel</button>
      </form>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
