<div class="container-fluid">
    <div class="row">
        <div class="col-7 mx-auto mt-5 p-5 border bg-white border-dark text-dark rounded">
            <h3>Booking Cancellation</h3>
            <hr>
            <br>
            <br>
            <h5>Hi, you are about to cancel your service booking for "details"</h5>
            <br>
            <p>If you want to cintinue please click on the button below</p>
            <button type="button" (click)="cancelBooking(booking)" class="btn btn-danger">Cancel Booking</button>
        </div>
    </div>
</div>