<div class="container-fluid">
    <div class="row">
        <div class="col-7 mx-auto mt-5 p-5 border bg-white border-dark text-dark rounded">
            <form [formGroup]="registrationFG" (ngSubmit)="register(registrationFG.value)">
                <h3>Registration</h3>
                <hr>
                <br>
                <br>
                <p>Please select the service for Sunday 5/07/2020</p>
                <div class="row d-flex justify-content-between service-radio">
                    <div *ngFor="let slot of slots, let i = index" class="col-3 form-group">
                        <input type="radio" value="{{slot.time}}" id="service{{i}}" formControlName="time" (click)='onTimeChange(slot)'>
                        <label for="service{{i}}">{{slot.time}}</label>
                        <br>
                        <small class="text-danger"><i>{{slot.availableSlots}} slots available</i></small>
                    </div>
                    <div class="row col-12 mb-3 justify-content-center">
                        <!-- Control Errors -->
                        <span *ngIf="(_time.touched || _time.dirty) && _time.invalid" class="text-danger ml-5">
              <!-- Control Required Errors -->
              <span *ngIf='_time.errors.required'><i><small>*Please select a service time to
                    attend</small></i></span>
                        </span>
                    </div>
                </div>
                <div *ngIf="(canShowRegistrant$ | async)">
                    <button type="button" class="col-4 form-control btn-dark mb-4" (click)="addRegistrant()">Add
            Registrant</button>
                    <section formArrayName="members" *ngFor="let member of memberControl, let i = index">
                        <div [formGroupName]="i">
                            <div class="row details justify-content-between">
                                <div class="col-6 form-group">
                                    <label for="name">First Name
                    <!-- Control Errors -->
                    <span
                      *ngIf="(membersDet.controls[i].get('name').touched || membersDet.controls[i].get('name').dirty) && membersDet.controls[i].get('name').invalid"
                      class="text-danger ml-5">
                      <!-- Control Required Errors -->
                      <span *ngIf="membersDet.controls[i].get('name').errors?.required"><i><small>*This
                            field is
                            required</small></i></span>
                    </span>
                  </label>
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="col-6 form-group">
                                    <label for="surname">Last Name
                    <!-- Control Errors -->
                    <span
                      *ngIf="(membersDet.controls[i].get('surname').touched || membersDet.controls[i].get('surname').dirty) && membersDet.controls[i].get('surname').invalid"
                      class="text-danger ml-5">
                      <!-- Control Required Errors -->
                      <span *ngIf="membersDet.controls[i].get('surname').errors?.required"><i><small>*This
                            field is
                            required</small></i></span>
                    </span>
                  </label>
                                    <input type="text" class="form-control" formControlName="surname">
                                </div>
                            </div>
                            <div class="row d-flex gender-radio justify-content-between">
                                <p>Gender:</p>
                                <div class="col-4 form-group">
                                    <input type="radio" value="female" id="female {{i}}" formControlName="gender">
                                    <label for="female {{i}}">Female</label>
                                </div>
                                <div class="col-4 form-group">
                                    <input type="radio" value="male" id="male {{i}}" formControlName="gender">
                                    <label for="male {{i}}">Male</label>
                                </div>
                                <button class="col-2 form-control btn-danger" (click)="removeRegistrant(i)">Delete
                  Entry</button>
                            </div>
                            <!-- Control Errors -->
                            <span *ngIf="(membersDet.controls[i].get('gender').touched || membersDet.controls[i].get('gender').dirty) && membersDet.controls[i].get('gender').invalid" class="text-danger ml-5">
                <!-- Control Required Errors -->
                <span *ngIf="membersDet.controls[i].get('gender').errors?.required"><i><small>*This
                      field is
                      required</small></i></span>
                            </span>
                        </div>
                    </section>
                    <br>
                    <br>
                    <br>
                    <div class="row details">
                        <div class=" col-6 form-group">
                            <label class="mb-2" for="emailAddress">Email Address
                <!-- Control Errors -->
                <span *ngIf="(_emailAddress.touched || _emailAddress.dirty) && _emailAddress.invalid"
                  class="text-danger ml-5">
                  <!-- Control Required Errors -->
                  <span *ngIf='_emailAddress.errors.required'><i><small>*This field is
                        required</small></i></span>
                  <span *ngIf='_emailAddress.errors.email'><i><small>*Input is
                        invalid</small></i></span>
                </span>
              </label>
                            <input type="text" class="form-control mb-3" formControlName="emailAddress">
                        </div>
                        <div class="col-6 form-group">
                            <label class="mb-2" for="mobile">Phone Number
                <!-- Control Errors -->
                <span *ngIf="(_mobile.touched || _mobile.dirty) && _mobile.invalid" class="text-danger ml-5">
                  <span *ngIf='_mobile.errors.pattern'><i><small>*Input is
                        invalid</small></i></span>
                  <!-- <span *ngIf='_mobile.errors.maxlength'><i><small>*Input is
                                            invalid</small></i></span> -->
                  <!-- Control Required Errors -->
                  <!-- <span *ngIf='_mobile.errors.required'><i><small>*This field is
                                            required</small></i></span> -->
                </span>
              </label>
                            <input type="tel" pattern="" class="form-control mb-3" formControlName="mobile">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mt-5">
                    <button type="button" class="col-3 btn btn-light" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="ml-3 col-3 btn btn-dark" [disabled]="isValid()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>