<div class="jumbotron bg-dark" *ngIf="canShowLogo$ | async">
    <div class="row justify-content-between">
        <div class="col d-flex justify-content-center col-3 col-sm-2">
            <img src="../../assets/images/ppplogo.png" alt="PPP logo">
        </div>
        <div class="col d-flex justify-content-center col-6">
            <h2 class="text-center text-dark">Precious People Parish Service</h2>
        </div>
        <div class="col d-flex justify-content-center col-3 col-sm-2">
            <img src="../../assets/images/rccg-logo.png" alt="RCCG logo">
        </div>
    </div>
</div>
<div class="container-fluid">

    <router-outlet></router-outlet>

    <notifier-container></notifier-container>
</div>