<app-loader [isLoading$]='isLoading$'></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-5 mx-auto mt-3 p-5 border bg-white border-dark text-dark rounded">
            <form [formGroup]="forgotPasswordFG">
                <h3>Forgot Password</h3>
                <hr>
                <br>
                <div class="form-group">
                    <label for="EmailInput">Please input email address used for registration
                        <!-- Control Errors -->
                        <span *ngIf="(email.touched || email.dirty) && email.invalid" class="text-danger ml-5">
                            <!-- Control Required Errors -->
                            <span *ngIf='email.errors.required'><i><small>*This field is
                                        required</small></i></span>
                            <span *ngIf='email.errors.email'><i><small>*Input is
                                        invalid</small></i></span>
                        </span>
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>

                        <input formControlName="email" type="text" class="form-control" id="EmailInput"
                            placeholder="john.doe@example.com">
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary col-12 mb-3"
                    (click)='submit(forgotPasswordFG.value)' [disabled]='isInValid(forgotPasswordFG)'>Submit</button>
                <button type="button" class="btn btn-outline-secondary col-12" (click)='cancel()'>Cancel</button>
            </form>
        </div>
        <button
          type="button"
          class="btn btn-outline-primary col-12 mb-3"
          (click)='submit(forgotPasswordFG.value)'
          [disabled]='isInValid(forgotPasswordFG)'
        >Submit</button>
        <button
          type="button"
          class="btn btn-outline-secondary col-12"
          (click)='cancel()'
        >Cancel</button>
      </form>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
