/* You can add global styles to this file, and also import other style files */

@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-info.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-warning.css";
@import "~angular-notifier/styles/types/type-error.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

@import "~@ng-select/ng-select/themes/default.theme.css";
.jumbotron {
    padding: 1.5rem 1.5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media (max-width: 616px) {
    .jumbotron h2 {
        font-size: 1.2rem;
    }
    img {
        height: 70px !important;
        width: 70px !important;
    }
}

img {
    height: 100px;
    width: 100px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}