/* You can add global styles to this file, and also import other style files */

@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-info.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-warning.css";
@import "~angular-notifier/styles/types/type-error.css";

/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

@import "~@ng-select/ng-select/themes/default.theme.css";
body {
    background-image: url('assets/images/bg.jpg');
    background-size: cover;
    background-color: white;
}