<div class="container">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="card border-primary mb-3 w-75 h-75">
      <div class="card-header font-weight-bold d-flex flex-row justify-content-center align-items-center">Precious
        People Parish</div>
      <div class="card-body text-danger d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title font-italic">Register and Login to book your service slot.</h5>
        <div class="row ">
          <div class="col-6">
            <a
              routerLink='/login'
              class="btn btn-primary"
            >Login </a>
          </div>
          <div class="col-6">
            <a
              routerLink='/register'
              class="btn btn-success"
            >Register </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Login Form-->

<!-- Register Form-->
